body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;

  }
  
  header {
    background-color: #2196f3;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000000;
    height: 45px;
    text-align: center;

  }
  
  main {
    padding: 20px;
  }
  
  p {
    margin-bottom: 10px;
    text-align: center;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .botao1  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196f3;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    

  }
  
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }